.service-cards
  &__inner
    display: grid
    grid-template-columns: repeat(4, 1fr)
    justify-content: center
    align-items: center
    grid-gap: 15px
  &__card
    padding: 25px
    border: 1px solid $main
    border-radius: $radius
    display: flex
    align-items: center
    column-gap: 20px
    color: $main
