// @font-face

.title-1, h1
  // font-weight: 
  // font-size: 
.title-2, h2
  // font-weight: 
  // font-size:
.title-3, h3
  // font-weight: 
  // font-size:
.text
  // font-weight: 
  // font-size:

.btn
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  transition: .2s
  background: transparent
  width: 200px
  height: 50px
  border: 1px solid #000
  border-radius: 8px
  font-weight: 400
  font-size: 18px
  color: #000
  &:hover,
  &:active
    // background: 
    transition: .2s
.container
  max-width: 1230px + (2 * 15px)
  padding: 0 15px
  margin: 0 auto
.clearfix::after
  content: ''
  display: block
  clear: both
.alignright
  float: right
  margin-left: 50px
  margin-bottom: 25px
.alignleft
  float: left
  margin-right: 50px
  margin-bottom: 25px
.scrollOff
  overflow-y: hidden
.bg
  background-position: center
  background-size: cover
  background-repeat: no-repeat
.pt
  padding-top: 100px
