$origin: #46ACE1
$main: #1A5BE5
$second: #FEB526
$light: #fff
$dark: #000

$radius: 8px
$step_1: 80px
$step_2: 40px
$step_3: 20px

.title-1, h1
  font-weight: 400
  font-size: 48px
.title-2, h2
  font-weight: 400
  font-size: 36px
.title-3, h3
  font-weight: 400
  font-size: 24px
.small
  font-size: 14px

.btn
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  transition: .2s
  background: $second
  width: 200px
  height: 45px
  border: 1px solid $second
  border-radius: $radius
  font-weight: 600
  font-size: 16px
  color: $light
  text-transform: uppercase
  &:hover,
  &:active
    background: $light
    color: $second
    transition: .2s
  &_big
    width: 280px
    height: 56px
  &_2
    border-color: $main
    background: $light
    color: $main
    &:hover,
    &:active
      background: $main
      color: $light
.container
  max-width: 1230px + (2 * 15px)
  padding: 0 15px
  margin: 0 auto
.clearfix::after
  content: ''
  display: block
  clear: both
.alignright
  float: right
  margin-left: 50px
  margin-bottom: 25px
.alignleft
  float: left
  margin-right: 50px
  margin-bottom: 25px
.scrollOff
  overflow-y: hidden
.bg
  background-position: center
  background-size: cover
  background-repeat: no-repeat
.pt
  padding-top: 100px
