@import 'var'

*
  box-sizing: border-box
  margin: 0
  padding: 0
  outline: none
  line-height: 1.2
html
  overflow-x: hidden
body
  font-family: 'Montserrat', sans-serif
  font-weight: 400
  font-size: 16px
  background-color: $light
  color: $dark
  overflow-x: hidden
  &::-webkit-scrollbar
    width: 7px
    background: $light
  &::-webkit-scrollbar-track
    box-shadow: inset 0 0 6px rgba($dark, 0.3)

  &::-webkit-scrollbar-thumb
    background: $dark
a
  text-decoration: none
  color: inherit

input, textarea
  outline: none
  font-family: inherit, sans-serif

@import 'header'
@import 'banner'
@import 'seo'
    
