@import 'var'

*
  box-sizing: border-box
  margin: 0
  padding: 0
  outline: none
  line-height: 1.2
html
  overflow-x: hidden
body
  font-family: 'Montserrat', sans-serif
  font-weight: 400
  font-size: 16px
  background-color: $light
  color: $dark
  overflow-x: hidden
  &::-webkit-scrollbar
    width: 5px
    background: transparent
  &::-webkit-scrollbar-track
    box-shadow: inset 0 0 6px rgba($light, 0.3)

  &::-webkit-scrollbar-thumb
    background: $main
a
  text-decoration: none
  color: inherit

input, textarea
  outline: none
  font-family: inherit
  &::placeholder
    color: #5E5E5E
    font-size: 14px
    font-weight: 400

.fancybox__toolbar
  display: none
.fancybox__carousel.is-draggable .fancybox__slide, .fancybox__carousel.is-draggable .fancybox__slide .fancybox__content
  cursor: pointer

.compensate-for-scrollbar
  margin-right: 0!important

.map iframe
  width: 100%
  height: 418px

@import 'header'
@import 'banner'
@import 'cost-form'
@import 'what-you-get'
@import 'callback'
@import 'services'
@import 'callback-v2'
@import 'relative-receive'
@import 'team'
@import 'routine'
@import 'gallery'
@import 'seo'
@import 'callback-v3'
@import 'callback-v4'
@import 'last-news'
@import 'callback-popup'
@import 'steps'
@import 'benefits'
@import 'menu'
@import 'settler'
@import 'video-reviews'
@import 'sidebar'
@import 'multi-column'
@import 'advantage'
@import 'about-filial'
@import 'contacts'
@import 'service-cards'
@import 'blog'
@import 'pagination'
@import 'single-post'
